$gray-main: #898989;
$white: #ffffff;
$purple-main: #6e56e0;
$yellow-main: #ffd928;
$black-main: #151515;
$gray-dark: #272727;
$purple-dark: #4531a3;
$gray-black: #1e1e1e;
$green-main: #288a05;
$orange-main: #ffa424;
