.home-page {
  .main-content {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }

  .sub-nav {
    display: flex;
    width: 100%;
  }

  .sub-nav-items {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .sub-nav-item {
    border-radius: 4px 4px 0 0;
    align-self: stretch;
    display: flex;
    min-height: 52px;
    align-items: start;
    color: $white;
    text-align: center;
    justify-content: center;
    color: $gray-main;
    margin: auto 0;
    font: 400 16px/1 Urbanist, sans-serif;
    text-decoration: none;
  }

  .sub-nav-item.active,
  .sub-nav-item:hover {
    color: $white;
    border-bottom: 3px solid $purple-main;
  }

  .content-header {
    display: flex;
    margin: 28px 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
    font-family: Urbanist, sans-serif;
    justify-content: space-between;
    flex-wrap: wrap;
    .page-title {
      align-self: stretch;
      font-size: 28px;
      color: $white;
      font-weight: 700;
      line-height: 1;
    }
    .view-toggle {
      border-radius: 16px;
      display: flex;
      gap: 4px;
      overflow: hidden;
      font-size: 15px;
      .toggle-button {
        padding: 10px 16px;
        color: $gray-main;
        background: $gray-dark;
        font-weight: 400;
        cursor: pointer;
        &.active {
          background: $purple-main;
          color: $white;
          font-weight: 600;
        }
      }
    }
  }

  .leave-table {
    border-radius: 8px;
    background: $gray-black;
    align-self: center;
    display: flex;
    margin-top: 8px;
    width: 100%;
    flex-direction: column;
    padding: 0 15px;
    .table-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .table-tabs ul {
        display: flex;
        li {
          color: $gray-main;
          margin: 0 10px 20px 0;
          padding: 15px;
          border-bottom: 3px solid transparent;
          cursor: pointer;
          &.active,
          &:hover {
            color: $white;
            border-color: $purple-main;
          }
        }
      }
      .table-calendar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        h5 {
          color: $white;
          b {
            color: $gray-main;
          }
        }
        img {
          cursor: pointer;
          &:hover {
            filter: invert(35%) sepia(98%) saturate(10%) hue-rotate(193deg)
              brightness(92%) contrast(1000%);
          }
        }
        span {
          cursor: pointer;
          display: flex;
          gap: 5px;
        }
      }
    }
    .table-header {
      display: grid;
      font-size: 14px;
      grid-template-columns: 100px 250px 200px 100px 160px 1fr;
      padding: 16px 20px;
      background: $gray-dark;
      border-radius: 8px;
      color: $gray-main;
      text-transform: uppercase;
      letter-spacing: 0.68px;
    }
  }

  .table-row {
    display: grid;
    cursor: pointer;
    grid-template-columns: 100px 250px 200px 100px 160px 1fr;
    padding: 20px;
    border-bottom: 1px solid $gray-dark;
    align-items: center;
    color: $white;
    &:hover {
      border-color: $yellow-main;
    }
  }

  .status-icon {
    display: flex;
    padding-top: 3px;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    color: $white;
    font: 400 14px/1 Inter, sans-serif;
  }

  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .period-text {
    color: var(--White, #fff);
    letter-spacing: 0.78px;
  }

  .days-text {
    color: $white;
    letter-spacing: 0.78px;
  }

  .leave-type {
    color: $white;
    letter-spacing: 0.78px;
  }

  .action {
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
    .action-buttons {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  .table-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    color: $white;
  }
  .page-footer {
    background-color: $gray-black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    width: 100%;
    .footer-text {
      color: $white;
    }
    .footer-buttons {
      display: flex;
      gap: 16px;
    }
  }
}

@media (max-width: 991px) {
  .top-header {
    padding-left: 20px;
  }

  .header-content {
    max-width: 100%;
  }

  .toolbar {
    max-width: 100%;
  }

  .main-content {
    margin: -200px 2px 0 0;
  }

  .sub-nav {
    max-width: 100%;
    padding: 0 20px;
  }

  .sub-nav-items {
    max-width: 100%;
  }

  .page-header {
    max-width: 100%;
    padding: 0 20px;
  }

  .table-container {
    max-width: 100%;
  }

  .table-header {
    max-width: 100%;
  }

  .table-row {
    max-width: 100%;
  }

  .table-footer {
    max-width: 100%;
  }

  .action-footer {
    max-width: 100%;
  }
}
